
# Le pipeline principal du projet n'utilise actuellement pas cette variable.

# Pour utiliser l'API de météo France à l'avenir (si nécessaire), il faudra suivre ces étapes :

# 1. copier ce fichier en le renommant .env

# 2. y coller votre clé API à la place de "votre_cle_api_ici"

# 3. importer dotenv dans votre script Python et charger les variables d'environnement


METEO_FRANCE_API_KEY = votre_cle_api_ici

# Exemple d'utilisation dans un script Python :
# from dotenv import load_dotenv
# import os
# load_dotenv()                                # Charge les variables d'environnement depuis le fichier .env
# api_key = os.getenv("METEO_FRANCE_API_KEY")  # Récupère la clé API depuis le fichier .env